.carousel {
  padding: 40px;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  max-width: 800px;
  transform: scale(0.8);
  border: 1px solid #9b9a9a6e;
  backdrop-filter: blur(30px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-sizing: border-box;
  color-scheme: black;
}

.slides-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slides-container img {
  width: 100%;
  flex: 0 0 auto;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
