
/* Styles généraux */
body {
    background-image: linear-gradient(40deg, hsl(240deg 56% 48%) 0%, hsl(250deg 48% 49%) 10%, hsl(260deg 40% 49%) 24%, hsl(271deg 34% 50%) 42%, hsl(285deg 28% 50%) 57%, hsl(305deg 24% 50%) 68%, hsl(325deg 29% 54%) 75%, hsl(340deg 34% 58%) 81%, hsl(354deg 40% 62%) 85%, hsl(358deg 39% 63%) 89%, hsl(353deg 31% 62%) 92%, hsl(345deg 22% 61%) 94%, hsl(330deg 14% 60%) 96%, hsl(284deg 9% 60%) 97%, hsl(232deg 12% 62%) 98%, hsl(212deg 22% 61%) 99%, hsl(204deg 32% 60%) 100%, hsl(200deg 41% 58%) 100%);
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 130px;
}

.co-responsable {
    margin-bottom: 20px;
    text-align: center;
}

.section {
    margin-bottom: 30px;
    background: #f8f8f885;
    border-radius: 30px;
    padding: 20px;
    max-width: 70vw;
    text-align: left;
}

/* Barre de navigation */
.navbar {
    margin-top: 20px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #007bff;
}

.navbar .nav {
    float: none;
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: rgba(248, 248, 248, 0.95);
    border: 1px solid #ddd;
    z-index: 1;
    min-width: 200px;
    text-align: center;
    border-radius: 30px;
}

.dropdown-menu li {
    padding: 3px;
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
}

.dropdown-menu li a:hover {
    color: #007bff;
}

.dropdown-header {
    font-weight: bold;
    color: #007bff;
}

.navbar ul .dropdown-menu {
    margin-top: 0;
}

.navbar .nav > li {
    margin-right: 20px;
}

.navbar .nav > li:hover .dropdown-menu {
    display: block;
}

.navbar ul li {
    display: block;
    margin-bottom: 5px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    display: flex;
    align-items: center;
}

.footer-info .left {
    margin-right: auto;
}

.footer-info .right {
    margin-left: auto;
}

/* Liens de la barre de navigation en noir */
.navbar a {
    color: black;
}
