@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    margin: 0;
    padding: 0;

    background: #202731;
    color: white;
}

header {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    background-color: transparent;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    padding: 100px 10vw;
}

.hiddenn {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

#header-svg {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    z-index: -1;
}

#glass {
    border-radius: 0.5em;
}